{% extends "base.html" %}
{% block content %}
    <div class="col-4 offset-4">
        <h2>Create a todo</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}