{% extends "base.html" %}
{% block content %}
<div class="col-4 offset-4">
    <p class="text-center">
        <h4>Update todo</h4>
    </p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}