{% extends "base.html" %}
{% block content %}
    <div class="col-4 offset-4">
        <a href="/" class="btn btn-primary">Go home</a>
        <div class="card mt-3">
            <div class="card-header">
                {{ todo.name }}
            </div>
            <div class="card-body">
                {{ todo.due_date }}
            </div>
            <div class="card-footer">
                <p class="btn btn-warning"><a href="/{{ todo.id }}/update/">Update todo</a></p>
                <p class="btn btn-warning"><a href="/{{ todo.id }}/delete/">Delete todo</a></p>
            </div>
        </div>
    </div>
{% endblock %}