{% extends "base.html" %}
{% block content %}
    <div class="text-center">
    <p class="text-center">
        {% if request.user.is_authenticated %}
        Hello {{ request.user.username }}
        {% else %}
        Hello anonymous user
        {% endif %}
    </p>
    <p class="btn btn-warning">
        <a href="/create">Create a todo</a>
    </p>
    </div>

    <div class="col-4 offset-4">
        {% for todo in todo_list %}
        <div class="card mt-3">
            <div class="card-header">
                <h4><a href="{{ todo.id }}"> {{ todo.name }}</a></h4>
            </div>
            <div class="card-body">
                <p>It's due {{todo.due_date}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}